{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css_files/gridd.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div><img src="/media/5bd320d590bcf-wallpaper-preview.jpg" ></div>
        <div class="vertical"><img src="/media/360_F_572828530_ofzCYowQVnlOwkcoBJnZqT36klbJzWdn.jpg" ></div>
        <div class="horizontal"><img src="/media/360_F_604505366_2OjyedGB13hgcJQKqtyhH9kSxZxWE3L2.jpg" ></div>
        <div><img src="/media/abstract-1920x1080-dark-wallpaper-preview.jpg" ></div>
        <div><img src="/media/dolomiti-italy-autumn-lago-antorno-landscape-photography-desktop-hd-wallpaper-for-pc-tablet-and-mobile-3840×2400-wallpaper-preview.jpg" ></div>
        <div class="big"><img src="/media/earth-4k-best-desktop-download-wallpaper-preview.jpg" ></div>
        <div><img src="/media/for-desktop-nature-scenes-beautiful-scenery-1920x1080-wallpaper-preview.jpg" ></div>
        <div class="vertical"><img src="/media/forest-4k-desktop-background-hd-wallpaper-preview.jpg" ></div>
        <div><img src="/media/minimalism-4k-for-mac-desktop-wallpaper-preview.jpg" ></div>
        <div class="horizontal"><img src="/media/mountains-best-for-desktop-background-wallpaper-preview.jpg" ></div>
        <div><img src="/media/neon-4k-hd-best-for-desktop-wallpaper-preview.jpg" ></div>
        <div class="big"><img src="/media/space-computer-1920x1200-desktop-wallpaper-preview.jpg" ></div>
        <div><img src="/media/technology-computer-creative-design.jpg" ></div>
        <div class="horizontal"><img src="/media/united-arab-emirates-dubai-reflection-on-midnight-4k-ultra-hd-desktop-wallpapers-for-computers-laptop-tablet-and-mobile-phones-3840×2400-wallpaper-prev.jpg" ></div>
        <div><img src="/media/united-arab-emirates-dubai-reflection-on-midnight-4k-ultra-hd-desktop-wallpapers-for-computers-laptop-tablet-and-mobile-phones-3840×2400-wallpaper-prev.jpg" ></div>
        <div class="big"><img src="/media/waterfall-high-resolution-desktop-wallpaper-preview.jpg" ></div>
        <div><img src="/media/winter-4k-pc-desktop-wallpaper-preview.jpg" ></div>
        <div class="vertical"><img src="/media/5bd3350aedb54-wallpaper-preview.jpg" ></div>
    </div>
</body>
</html>